
<h2>Diretivas estruturais</h2>
<p *ngIf="condition; else elseBlock">true</p>
<ng-template #elseBlock>
    <p>false</p>
</ng-template>

<p *ngIf="conditionClick">True</p>

<p *ngIf="!conditionClick">False</p>

<button (click)="onClick()">Clicar</button>

<hr />
<ul>
    <li *ngFor="let item of list; let i = index; even as isEven" (click)="onClickEventList($event)">[{{ i }}] {{ item.name }} - {{ item.age }} {{ isEven }}</li>
</ul>
<button (click)="onClickAddList()">Add</button>

<hr />
<input type="text" [(ngModel)]="name" />
<div [ngSwitch]="name">
    <p *ngSwitchCase="'rafa'">Rafa</p>
    <p *ngSwitchCase="'juca'">Juca</p>
    <p *ngSwitchDefault>Deu ruim na sua busca</p>
</div>
